@using Klinik.Utils.DataBase.Security
@model Doctor
<div class="doctor">
    <div class="doctor_card">
        <a href="#"><img src="@Url.Content(Model.Image.Url + Model.Image.FileName)" alt="" /></a>
        <div class="info">
            <h4><a href="#">@Model.ShortName</a></h4>
            <h5>@Model.Position</h5>
            <p>@Model.Slogan</p>
        </div>
    </div>
    <div class="text">
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>
