@using Klinik.Utils.DataBase.Security
@using Klinik.Utils.DataBase.Products
@using Klinik.Utils.DataBase.Emails
@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/Scripts/jqueryval")
    <script>
        function SendMessageOnComplete(data, resul, xhr) {
            if (data.Success) {
                $('#email-mes').toggle(750, function () {
                    $('#email-mes').toggle(3500);
                });
            }
        }
        function SendFeedbackOnComplete(data, resul, xhr) {
            if (data.Success) {
                $('#feedback-mes').toggle(750, function () {
                    $('#feedback-mes').toggle(3500);
                });
            }
        }
        function makeFeedback(e) {
            e.preventDefault();
            $('._comment').toggle(750);
        }

        var count = @(ViewBag.Comments != null ? ViewBag.Comments.Count : 0);
        var btns = [];
        for(var i = 1; i<= count; i++) {
            btns.push("." + i);
        }

        $(function() {
            if(count > 0) {
                $('#slidebox').jCarouselLite({
                    vertical: false,
                    hoverPause: true,
                    btnPrev: ".previous",
                    btnNext: ".next",
                    visible: 1,
                    start: 0,
                    scroll: 1,
                    circular: true,
                    auto: 6000,
                    speed: 900,
                    btnGo: btns,

                    afterEnd: function(a, to, btnGo) {
                        if (btnGo.length <= to) {
                            to = 0;
                        }
                        $(".thumbActive").removeClass("thumbActive");
                        $(btnGo[to]).addClass("thumbActive");
                    }
                });
            }
        });
    </script>
}
<div class="video" controls="controls">
    <video autoplay="autoplay" loop="loop" muted="muted">
        <source src="~/Content/video/about.mp4" type='video/mp4;'>
    </video>
    <div class="social">
        <div class="fb"><a href="https://www.facebook.com/profile.php?id=100014429629385" target="_blank"></a></div>
        <div class="insta"><a href="" target="_blank"></a></div>
    </div>
</div>

<div class="h2" id="about_us"><h2>О <span class="blue">нас</span></h2></div>
<div class="about_us">
    <div class="about_wrapper">
        <div class="photo">
            <img src="~/Content/images/about.jpg">
        </div>
        <div class="text">
            <p>
                Стоматология « KLINIK IM ZENTRUM»  - это созданный  только для Вас особый мир,
                где на первом  месте Ваше здоровье и Вы превыше всего.
                Добро пожаловать!
            </p><br /><p style="text-align:right;">С любовью к Вам « KLINIK IM ZENTRUM»</p>
        </div>
    </div>
</div>
<div class="h2" id="advantages"><h2>Наши <span class="blue">преимущества</span></h2></div>
<div class="advantages">
    <div class="advantages_wrapper">
        <div class="part1">
            <h4>Качество</h4>
            <p>empor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="part2">
            <h4>Гарантия</h4>
            <p>empor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="part3">
            <h4>Цена</h4>
            <p>empor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="part4">
            <h4>Сервис</h4>
            <p>empor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
<div class="h2" id="services" style="margin-top:0"><h2>Наши <span class="blue">Услуги</span></h2></div>
<div class="portfolio">
    <div class="our_works">
        <ol>
            @foreach (Product prod in ViewBag.Products)
            {
                <li>
                    <figure class="effect-sadie">
                        <img src="@Url.Content(prod.Image.Url + prod.Image.FileName)" style="width:267px; height:274px;" />
                        <figcaption>
                            <h2>@prod.Title.Substring(0, prod.Title.Length / 2)<span>@prod.Title.Substring(prod.Title.Length / 2, prod.Title.Length - (prod.Title.Length / 2))</span></h2>
                            <p><a href="/klinik/service/@prod.Id">Подробнее</a></p>
                        </figcaption>
                    </figure>
                </li>
            }
        </ol>
    </div>
</div>
<div class="h2" id="prices"><h2>Наши <span class="blue">Цены</span></h2></div>

<div class="cost" id="cost">
    <div class="cost_wrapper">
        <section class="ac-container">
            <div class="top">
                <label>Название услуги</label>
                <label>Стоимость, грн</label>
            </div>
            <div>
                <input id="ac-1" name="accordion-1" type="checkbox" />
                <label for="ac-1">Диагностика</label>
                <article class="ac-small">
                    <div>
                        <p style="text-align: left;">Консультация специалиста с предоставлением плана лечения</p><p>
                            100,00 -
                            150,00
                        </p>
                    </div>
                </article>
            </div>

            <div>
                <input id="ac-2" name="accordion-1" type="checkbox" />
                <label for="ac-2">Гигиена и профилактика</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Снятие зубных отложений /Scaling &amp; polishing</p><p>400,00 - 800,00</p></div>
                </article>
            </div>

            <div>
                <input id="ac-3" name="accordion-1" type="checkbox" />
                <label for="ac-3">Терапия</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Лечение кариеса зубов</p><p>400,00 – 800,00</p></div>
                    <div><p style="text-align: left;">Реставрация зуба фотополимером</p><p>1300,00 – 1600,00</p></div>
                </article>
            </div>

            <div>
                <input id="ac-4" name="accordion-1" type="checkbox" />
                <label for="ac-4">Эндодонтическое лечение</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Эндодонтическое лечение</p><p>300,00 – 1000,00</p></div>
                </article>
            </div>


            <div>
                <input id="ac-5" name="accordion-1" type="checkbox" />
                <label for="ac-5">Эстетическая стоматология</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Домашнее отбеливание</p><p>2800,00 - 3800,00</p></div>
                </article>
            </div>
        </section>

        <section class="ac-container">
            <div class="top1">
                <label>Название услуги</label>
                <label>Стоимость, грн</label>
            </div>
            <div>
                <input id="ac-6" name="accordion-1" type="checkbox" />
                <label for="ac-6">Ортодонтия</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Лечение керамической брекет-системой</p><p>16000,00 - 20000,00</p></div>
                    <div><p style="text-align: left;">Лечение металлической брекет-системой</p><p>12000,00 - 14000,00</p></div>
                    <div><p style="text-align: left;">Лечение сапфировой брекет-системой</p><p>27000,00 – 30000,00</p></div>
                </article>
            </div>

            <div>
                <input id="ac-8" name="accordion-1" type="checkbox" />
                <label for="ac-8">Хирургия</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Удаление многокорневого зуба</p><p>400,00 – 800,00</p></div>
                    <div><p style="text-align: left;">Удаление 8 зуба</p><p>от 1500,00</p></div>
                </article>
            </div>
            <div>
                <input id="ac-9" name="accordion-1" type="checkbox" />
                <label for="ac-9">Имплантация</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Синуслифтинг</p><p>5500,00 – 15000,00</p></div>
                    <div><p style="text-align: left;">Стоматологическая имплантация</p><p>от 13000,00</p></div>
                </article>
            </div>
            <div>
                <input id="ac-7" name="accordion-1" type="checkbox" />
                <label for="ac-7">Ортопедия</label>
                <article class="ac-small">
                    <div><p style="text-align: left;">Безметалловая керамическая коронка, накладка, винир</p><p>от 9500,00</p></div>
                    <div><p style="text-align: left;">Бюгельный протез</p><p>от 18000,00</p></div>
                    <div><p style="text-align: left;">Металлокерамическая коронка</p><p>от 3200,00</p></div>
                    <div><p style="text-align: left;">Керамическая вкладка</p><p>от 6000,00</p></div>
                </article>
            </div>
        </section>
    </div>
</div>

<div class="h2" id="doctors"><h2>Наши <span class="blue">доктора</span></h2></div>
<div class="our_team">
    <div class="d-carousel">
        <ul class="carousel">
            @foreach (Doctor doc in ViewBag.Doctors)
            {
                <li>
                    <a href="/klinik/doctor/@doc.Id"><img src="@Url.Content(doc.Image.Url + doc.Image.FileName)" alt="" /></a>
                    <div class="info">
                        <h4><a href="/klinik/doctor/@doc.Id">@doc.ShortName</a></h4>
                        <h5>@doc.Position</h5>
                        <p>@doc.Slogan</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="h2" id="feedbacks"><h2>Отз<span class="blue">ывы</span></h2></div>
<div class="comment">
    <div class="slidebox" id="slidebox">
        @if (ViewBag.Comments != null)
        {
            <ul>
                @foreach (Comment com in ViewBag.Comments)
                {
                    <li>
                        <div class="wrapper-li">
                            <div class="info">
                                <div class="img">
                                    @if (com.Image != null)
                                    {
                                        <img src="@Url.Content(com.Image.Url + com.Image.FileName)" width="139px" height="130px">
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/man.png" width="139px" height="130px">
                                    }
                                </div>
                                <div class="information">
                                    <h3>@com.Username</h3>
                                    <h4>@com.Company</h4>
                                </div>
                            </div>
                            <div class="text-comm">
                                <p>@com.Message</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="next"></div>
            <div class="previous"></div>
            <div class="thumbs">
                @for (var i = 1; i <= ViewBag.Comments.Count; i++)
                {
                    if (i == 1)
                    {
                        <a href="#" onclick="" class="1 thumbActive" id="a"></a>
                    }
                    else
                    {
                        <a href="#" onclick="" class="@(i)" id="b"></a>
                    }
                }
            </div>
        }
    </div>
    <a href="#" onclick="makeFeedback(event);" class="todo_comm">Оставить отзыв</a>
</div>
<div class="_comment" style="display:none;">
    <div id="send_feedback">
        @Html.Partial("_feedback")
    </div>
    <p id="feedback-mes" style="display:none;">Спасибо за ваш отзыв!</p>
</div>

<div class="h2" id="contacts"><h2>Кон<span class="blue">такты</span></h2></div>

<div class="contacts">
    <div class="information">
        <div class="info">
            <div class="tel"><img src="~/Content/images/tel.png"><p>+380 (48) 709–27–09</p></div>
            <div class="tel"><img src="~/Content/images/tel.png"><p>+380 97–158–55–32</p></div>
            <div class="gmail"><img src="~/Content/images/mail.png" style="height: 20px"><p>klinikimzentrum@ukr.net</p></div>
            <div class="point"><img src="~/Content/images/point.png"><p>г. Одесса, ул. Малая Арнаутская, 64.</p></div>

        </div>

    </div>
    <div class="feedback" id="email_us">
        <h3>Связаться с нами</h3>
        <div id="send_message">
            @Html.Partial("_message")
        </div>
        <p id="email-mes" style="display:none;">Мы свяжемся с вами в ближайшее время.</p>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1114.3722633604568!2d30.735482196245954!3d46.4710532825434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63183b6d746bd%3A0xfc50db3213b12d2f!2sKlinik+im+Zentrum!5e0!3m2!1sru!2sru!4v1508853573421" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>