@using Klinik.Utils.DataBase.Products
@model List<Product>
@{
    Product selected = ViewBag.Selected;
}
@section Scripts {
    <script>
        function setProd(imgUrl, title, desc) {
            $('.picture img').attr('src', imgUrl);
            $('.picture .h3 h3').text(title);
            $('.text1 p').html(desc);

            var html = title.substring(0, title.length / 2) + '<span class="blue">' + title.substring(title.length / 2, title.length) + '</span>';
            $('.h22 h3#title').html(html);
        };
    </script>
}
<div class="h22"><h3>Услуги и <span class="blue">цены</span></h3></div>

<div class="doctor">

    <div class="wrapper_service">
        <div class="service">
            @if (selected != null)
            {
                <div class="picture">
                    @if (selected.Image != null)
                    {
                        <img src="@Url.Content(selected.Image.Url + selected.Image.FileName)" alt="" />
                    }
                    <div class="h3"><h3>@selected.Title</h3></div>
                </div>
            }

            <div class="info">
                <div class="links">
                    @foreach (var pr in Model)
                    {
                        <a href="#" onclick="setProd('@(pr.Image!= null? Url.Content(pr.Image.Url + pr.Image.FileName) : "")','@pr.Title', '@(pr.Description?.Replace(Environment.NewLine, " "))')">@pr.Title</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="h22"><h3 id="title">@selected.Title.Substring(0, selected.Title.Length / 2)<span class="blue">@selected.Title.Substring(selected.Title.Length / 2, selected.Title.Length - (selected.Title.Length / 2))</span></h3></div>
    <div class="text1">
        <p>@Html.Raw(selected.Description)</p>
    </div>
</div>
