@model List<Klinik.Utils.DataBase.Emails.Comment>
@foreach (var prod in Model)
{
    <tr>
        <td id="del"><input type="checkbox" class="checkbox" id="checkbox" value="@prod.Id"/></td>
        <td>@prod.Date.ToShortDateString() / @prod.Date.ToShortTimeString()</td>
        <td>@prod.Username</td>
        <td>@prod.Message</td>
        <td>
            @(prod.IsModerated?"Одобрено" : "Не одобрено")/>
        </td>
        <td>
            @if (prod.Image != null)
            {
                <img src="@Url.Content(prod.Image.Url + prod.Image.FileName)" style="width:200px; height:150px" />
            }
        </td>
        <td>
            <div class="edit_del">                
                <button onclick="deleteProducts([@prod.Id])">Удалить</button>
            </div>
        </td>
    </tr>
}


