<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <title>Cabinet</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="" type="image/png">
    @Styles.Render("~/Content/tabtastic")
    
</head>
<body>
    <div class="header">
        <div class="container" id="container">
            
        </div>
    </div>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/wysiwyg")
    @RenderSection("scripts", required: false)
    
</body>
</html>
